@import  url('https://fonts.googleapis.com/css?family=Exo:400,700|Josefin+Slab:400,700');

/* HEADER AN FOOTER STYLING */
.dHeader {
	background: url("../Images/monkees.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center top;

}
.dHeader .dHeadImage {
	min-height: 50vh;
}
.dNavigation {
	background-color: #7a4d75;
	font-family: "Josefin Slab";
	font-weight:700;

}
.dNavigation a img {
	height:50px;
	width:70px;
	}
.dFooter {
	background-color: #7a4d75;
	font-size: 2em;

}
.titleText {
	font-family: "Josefin Slab";
}
.contentText {
	font-family: "Exo";
}

.dListTitle {
	text-align: center;
	background-color: #7a4d75;
	font-family: "Josefin Slab";
	font-weight: 700;
	font-size: 1.2em;
	color: #fff;
}
.dListContent {
	font-family: "Exo";
}