@import  url('https://fonts.googleapis.com/css?family=Exo:400,700|Josefin+Slab:400,700');

/* HEADER AN FOOTER STYLING */
.dHeader {
	background: url("../Images/monkees.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center top;

}
.dHeader .dHeadImage {
	min-height: 50vh;
}
.dNavigation {
	background-color: #7a4d75;
	font-family: "Josefin Slab";
	font-weight:700;
	
}
.dHeader a {
	color:#fff;
	transition:.5s ease-in;
}
.dHeader a:hover {
	color:#b7c7c9;
}

.dFooter {
	background-color: #7a4d75;
	font-size: 2em;

}
.dNavigation a img {
	height:40px;
	width:70px;
	}
.titleText {
	font-family: "Josefin Slab";
	font-weight: 700;
}
.contentText {
	font-family: "Exo";
}
.dConHeader .contentText {
	line-height: .5em;
}

.dListTitle {
	text-align: center;
	background-color: #af94ac;
	font-family: "Josefin Slab";
	font-weight: 700;
	font-size: 1.2em;
	color: #fff;
}
.dListContent {
	font-family: "Exo";
}

.dForm {
	width: 20em;
}
.dJumbo {
	background-color: #bca6ba;
}
.dPubImages {
	max-height: 10em;

}
.dPlay {
	color: #66b266;
}
.dPause {
	color: #dcae1d;
}
.dStop {
	color: red;
}
.dContactHead .titleText{
	
	font-weight: 700;

}
.dMediaIcons {
	color: #fff;
	transition: .5s .25s ease-in-out;
}
.dMediaIcons:hover{
	color:red;
}